*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(14, 0, 31);
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin: 5% 30%;
    background: rgb(44, 55, 88);
    border: 3px solid rgb(144, 0, 211);
    border-radius: 10px;
}
div h1{
    margin: 3%;
    font-size: 3rem;
    color: white;
}
div form p{
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    margin: 5% 0 ;
}
div a{
    border: 3px solid rgb(136, 32, 255);
    border-radius: 10px;
    background: rgb(13, 26, 63);
    text-decoration: none;
    color: white;
    margin: 3%;
    padding: 5px;
    font-size: 1.3rem;
}
a:hover, form input[type='submit']:hover{
    background: rgb(45, 79, 180);
    cursor: pointer;
    color: white;
}
div form input{
    margin: 3%;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding-left: 8px;
    font-weight: bold;
}
div form input[type='submit']{
    padding-left: 0;
}

/* media */
@media (max-width: 1120px) {
    div {
        width: 60%;
        margin: 5% auto;
    }

    div h1 {
        font-size: 2.5rem;
    }

    div form p {
        font-size: 1.5rem;
    }

    div form input {
        width: 250px;
        height: 40px;
    }

    div a {
        font-size: 1.2rem;
        padding: 5px 10px;
    }
}
@media (max-width: 1024px) {
    div {
        width: 70%;
        margin: 5% auto;
    }

    div h1 {
        font-size: 2.2rem;
    }

    div form p {
        font-size: 1.4rem;
    }

    div form input {
        width: 220px;
        height: 38px;
    }

    div a {
        font-size: 1.1rem;
        padding: 5px 10px;
    }
}
@media (max-width: 767px) {
    div {
        width: 90%;
        margin: 5% auto;
    }

    div h1 {
        font-size: 2rem;
        text-align: center;
    }

    div form p {
        font-size: 1.3rem;
        text-align: center;
    }

    div form input {
        width: 80%;
        height: 36px;
    }

    div a {
        font-size: 1rem;
        padding: 5px 10px;
        text-align: center;
    }
}
@media (max-width: 480px) {
    div h1 {
        font-size: 1.8rem;
    }

    div form p {
        font-size: 1.2rem;
    }

    div form input {
        width: 90%;
        height: 34px;
    }

    div a {
        font-size: 0.9rem;
    }
}