<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Login.css')}}">
    <title>Página de Login</title>
</head>
<body>
    <div>
        <h1>Login</h1>

        <form action="" method="post">
            <p>Nome de Usuário:</p>
            <input type="text" placeholder="usuário..." name="inputNome">
            <p>Senha:</p>
            <input type="password" placeholder="senha..." name="inputSenha"><br>
            <input type="submit" value="ENTRAR" name="inputEntrar">
        </form>

        <a href="{{url_for('cadastro')}}">Não Tenho Cadastro</a>
    </div>
</body>
</html>
